.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar {
  background: repeat
    url("https://www.khaliddev.com/images/header-background.jpg") center/cover;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
}

.navTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navEle {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  border: thick double rgba(0, 0, 0, 0.5);
  border-radius: 40%;
  transition: all 0.5s ease-in-out;
  margin: 0.5rem 0.5rem;
}

.navEle:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}

.homeMain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Gideon Roman", cursive;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0;
  color: rgba(0, 0, 0, 0.6);
}

.homeEle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homeIcons {
  color: rgba(0, 0, 0, 0.6);
  animation: wave 2s ease-in-out infinite alternate;
}

.homeLinksOne {
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem 1rem;
  padding-left: 0rem;
  transition: all 1s ease;
}
.homeLinksTwo {
  color: rgba(0, 0, 0, 0.6);
  padding: 1rem 1rem;
  padding-right: 0rem;
  transition: all 1s ease;
}

.homeLinksOne:hover {
  color: rgb(0, 0, 0);
}

.homeLinksTwo:hover {
  color: rgb(0, 0, 0);
}

.aboutMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Gideon Roman", cursive;
  color: rgba(255, 255, 255, 0.6);
  margin: 5rem 5rem;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 3rem;
}

.aboutHeader {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  background: repeat
    url("https://www.khaliddev.com/images/header-background.jpg") center/cover;
}
.aboutImg {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.aboutPara {
  transform: scale(0.9);
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.aboutLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 1rem 1rem;
}

.aboutLink:hover {
  color: rgba(0, 0, 0, 0.603);
}

.resume {
  margin: 2rem 2rem;
  padding: 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in-out;
}

.resume:hover {
  transform: scale(1.5);
  background-color: rgba(255, 255, 255, 0.6);
}

.head {
  border: thick double rgba(0, 0, 0, 0.6);
  border-radius: 40%;
  padding: 0.5rem 0.5rem;
}

.contactMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Gideon Roman", cursive;
  margin: 5rem 5rem;
}

.contactHead {
  border: thick double rgba(0, 0, 0, 0.6);
  border-radius: 40%;
  padding: 0.5rem 0.5rem;
}

.contactDesc {
  padding: 2rem 2rem;
}

.contactHeader {
  width: 100%;
  background: repeat
    url("https://www.khaliddev.com/images/header-background.jpg") center/cover;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 2rem;
  width: 100%;
}

.formEle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  padding: 2rem 2rem;
  margin: 0.5rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.6);
  font-family: "Gideon Roman", cursive;
}

.formBtn {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  padding: 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-in-out;
}

.formBtn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(1.5);
  color: rgba(0, 0, 0, 0.6);
}

.footer {
  background: repeat
    url("https://www.khaliddev.com/images/header-background.jpg") center/cover;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes wave {
  from {
    transform: scale(3) rotate(-30deg);
  }

  50% {
    transform: scale(3);
  }

  to {
    transform: scale(3) rotate(30deg);
  }
}

@media (max-width: 960px) {
  .aboutContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 3rem 0rem;
  }

  .aboutMain {
    margin: 3rem 0;
  }
  .contactMain {
    margin: 5rem 0rem;
  }
}

@media (max-width: 760px) {
  .formEle :first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutHeader {
    margin: 3rem 3rem;
  }

  .formEle {
    margin: 1rem;
  }

  .contactForm {
    flex-direction: column;
    margin: 2rem 2rem;
  }

  .homeMain {
    flex-direction: column;
    margin: 3rem 1rem;
  }
}
