body {
  background: repeat
    url("https://www.khaliddev.com/images/header-background.jpg") center/cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
